body {
  display: grid;
  grid-template-areas: "a a a"
                       ". b .";
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 200px auto;
}

body > header {
  grid-area: a;

  background-color: blue;
}

body > main {
  grid-area: b;

  background-color: red;
}

#music_list {
  height: 1000px;
}



